/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #fff;
    margin: 0;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    padding: 20px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: #ddd;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
  }
  
  .sidebar ul li a.active {
    background-color: #444;
  }
  
  .sidebar ul li a:hover {
    background-color: #555;
  }
  
  .main-content {
    margin-left: 250px;
    padding: 30px;
    width: 100%;
  }
  
  .active-mission, .mission-briefing, .mission-history {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .active-mission h4, .mission-briefing h4, .mission-history h4 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Sidebar Toggle */
  #sidebarToggle {
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar.active {
    left: -250px;
  }
  